// This page will contain the global styling which can be used through the application.

@import "~antd/lib/style/index";
@import url(./_variable.less);
.container-fluid {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.make-container(@minWidth, @breakpoint) {
    @media (min-width: @minWidth) {
        .container {
            max-width: @breakpoint;
        }
    }
}

.make-container(@screen-xs-min, @screen-xs);
.make-container(@screen-sm-min, @screen-sm);
.make-container(@screen-md-min, @screen-md);
.make-container(@screen-lg-min, @screen-lg);
.make-container(@screen-xl-min, @screen-xl);
.make-container(@screen-xxl-min, @screen-xxl); // Optional

.ant-row {
    padding: 15px;
}